.Image{
    margin: auto;
}
.Input{
    background-color: black;
    border: 2px solid white;
    border-radius: 20px;
    color: white;
}

.Button {
    background-color: #ff7900;
    color: white;
    font-weight: bold;
    border-radius: 20px;
}